* {
  box-sizing: border-box;
}

body {
  display:flex;
  flex-direction: column;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #C1B5AD;
}

#map {
  height: 100vh;
  width: 100vw;
  z-index: 0;
  flex-grow: 2;
}

#tripPlanner {
  display: flex;

}

#locationSelector {
  z-index: 1;
  margin: 10px 0px 10px 0px;
  background-color: brown;
  /* opacity: .1; */
}

#itinerary {
  margin: 10px 0px 10px 0px;
  background-color: green;
}

#itinerary h1 {
  background-color: orange;
  margin: 0
}

#sidebar {
  display:flex;
  flex-direction: column;
  flex-grow: 1;
}

